.app--container {
  background: url('../../assets/form-wizard-bg.jpg') center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
